/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Belleza';
  font-style: normal;
}

html {
  height: 100vh;
}

.App {
  background-color: lightgrey;
}
