/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  margin: 0;
  height: 2000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Belleza';
  font-style: normal;
}

html {
  height: 100vh;
}

.App {
  background-color: lightgrey;
}
