#footer {
  background: linear-gradient(to right, #2e3d34, #304237);
  padding: 50px 0;
  color: lightgray;
  text-align: center;
}

#footer .copyright {
  margin: 0 0 15px;
}

#footer .socials a:hover {
  background:  #65744a;
  color: lightgray;
}

.socials {
  display: table;
  height: 100%;
  width: 100%;
}

.socials li {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  }
  
  .socials a {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #325C2E;;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 2px;
}

.socials .fab {
  line-height: 1;
  }

.copyright{
  text-align: center;
}
  .socials ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;

  }