/* header.css */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right,#2e3d34, #304237); 
    height: 100px;
    box-sizing: content-box;
    position: fixed;
}
  .logo {
    height: 100%;
    width: 150px;
    box-sizing: content-box;
  }
  .logo img{
    height: 100%;
  }
  
  .navList {
    list-style-type: none;
    display: flex;  
    font-size: 1.1em;
    gap: 20px;
    padding-left: 20px;
    margin: 0;
  }
  
  .navItem a {
    text-decoration: none;
    color: lightgray; 
    font-weight: 450;
  }
  
  .navItem a:hover {
    color: black; 
  }
  