.my-dashed-line {
    border-bottom: 1px dashed #19c33b;
  }


.my-dashed-line h2{
    font-weight: 700;
    font-size: 2em;
}


.home-content{
    color: #325C2E;
    
}
.home-content p{
    line-height: 1.6;
    font-size: 1.6em;
    text-align: center;
}

.home-content h3{
    color: #65744a;
    font-weight: 600;
    font-size: 2em;

}
.container-home{
    margin-top: 100px;
}
